/* App */



/* Navbar */


.navbar {
  background-color: #4d1848;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  width: 120%;
  z-index: 100;
}

.navbar-container {
 max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;

}
  .nav-links li a {
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
  transition: all color 0.3s ease;
  padding: 25px 35px;
  border-radius: 10px;
  background-color: rgba(0, 119, 204, 0.1);
}


.nav-links li a:hover {
  background-color: rgba(0, 119, 204, 0.1);
  color: #fd0606;
}

.blog {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  color: #fff;
  margin: 2rem 1rem;
  letter-spacing: -1px;
  line-height: 1.2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  
}


/* Home Page */


.home-page h2 {
  text-align: center;
  color: #fff;
}


/* Post Card */

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 3rem;
}



.post-card {
  border: 1px solid #ddd;
  padding: 3.5rem;
  margin: 2rem 1rem;
  max-width: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  color:black
}

.post-card h3 {
  margin-bottom: 0.5rem;
}



.post-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}